
{% extends 'base.html' %}
{% load crispy_forms_tags %}
{%load static%}

{% block content %}

    <!--Contact form-->
<div class="content">
     <div class="container">
        <div class="card form-card">
               <div class="definition-of-ticket">
             <h1>Ticket</h1>
            <h4>Contact us directly if you have any questions</h4>
              <p>
                Please write your name, email address and a description below if you have any questions.
                One of our staff members will be happy to contact you directly and answer your questions as soon as possible.
              </p>
        </div>
             <form method="post" enctype="multipart/form-data" class="form-ticket">
          {% csrf_token %}
          <div class="row">
            <div class="col-lg-6 col-md-12">
                {{form.name|as_crispy_field}}
                {{form.category|as_crispy_field}}
                {{form.email|as_crispy_field}}
                 {{form.phone_number|as_crispy_field}}
                 {{form.image|as_crispy_field}}
            </div>
            <div class="col-lg-6 col-md-12">
              {{form.description|as_crispy_field}}

            </div>
          </div>
          <div class="row">
                <div class="col-lg-6 col-md-12">
                    <button type="submit" class="btn create-ticket-button form-control border border-dark">Submit</button>
                </div>
          </div>

          </form>
        </div>
      </div>
</div>


{% endblock %}