.create-ticket-button {
  color: #000000 !important;
}

.definition-of-ticket {
  padding: 10px;
}
.form-ticket {
  color: #000000;
  line-height: 35px !important;
  font-weight: bold;
  padding-left: 15px;
}
.form-card {
  padding: 10px;
}

.content {
  margin-top: 20px;
  background-color: #002968 !important;
  color: rgb(0, 0, 0);
}
