.create-ticket-button {
  color: #000000 !important;
  /* text-shadow: 2px 2px 4px #000000; */
}

.definition-of-ticket {
  padding: 10px;
}
.form-ticket {
  color: #000000;
  line-height: 35px !important;
  font-weight: bold;
  padding-left: 15px;
  font-family: "Lucida Console", "Courier New", monospace;
}
.form-card {
  padding: 10px;
}

.content {
  margin-top: 20px;
  background-color: #002968 !important;
  color: rgb(0, 0, 0);
  /* text-shadow: 1px 1px 4px #000000; */
  font-family: "Lucida Console", "Courier New", monospace;
}
